body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black;
    background-image: url("https://images.unsplash.com/photo-1516550893923-42d28e5677af?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1472&q=80");
}  

.app-window {
    display: flex;
    color: white;
    width: 60%;
    height: 60%;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    flex: 1 1 1;
    border: 10px rgb(0, 0, 0) solid;
    box-shadow: 5px 10px 10px rgb(20, 20, 20);
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
}

.search-window {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar {
    width: 60%;
    height: 20%;
    min-height: 30px;
    min-width: 60%;
    border-radius: 10px;
    background-color: white;
    opacity: initial;
    font-size: 1.5rem;
    padding: 5px;
}

button#search {
    width: 30px;
    min-width: 30px;
    max-width: 30px;
    height: 30px;
    min-height: 20%;
    border-radius: 15px;
    margin-left: 10px;
}

.results-left {
    display: flex;
    width: 70%;
    height: 40%;
    justify-content: center;
    align-items: center;
}

.city-name {
    width: 20%;
}

.temperature {
    width: 20%;
}

.results-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 40%;
}

.humidity {
    height: 40%;
}

img.weather {
    height: 40%;
}